/* Variables*/
body {
  background-color: #e6e6e6;
}

a {
  color: #ce6f6f;
}

nav {
  min-width: 100%;
  width: 100%;
  height: 230px;
  max-height: 230px;
  background-image: url("/img/bann.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 30px;
  height: 50px;
}
nav li {
  transition-timing-function: ease-in-out;
  transition-delay: 100ms;
  transition-duration: 450ms;
  background-color: rgba(255, 255, 255, 0.7);
}
nav li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1) translateY(-5px);
}
nav li:hover a {
  text-shadow: #000 2px 2px 5px;
}
nav h4 {
  display: none;
}
nav a {
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
}
nav .menu-btn {
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5%;
  color: #ce6f6f;
  border: solid 3px #ce6f6f;
  font-weight: bold !important;
}

ul {
  list-style: none;
}

h1, h2 {
  text-align: center;
  padding: 30px 0;
}

hr {
  color: #000;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #abdcab;
          text-decoration-color: #abdcab;
  text-decoration-thickness: 15px;
}

.hide {
  display: none;
  overflow: hidden;
}

.logo-top {
  width: 30%;
  max-width: 330px;
  position: relative;
  top: -50px;
}

.head-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.head-title h1, .head-title h3, .head-title h4 {
  color: #b33d3d;
  text-shadow: black 2px 2px 5px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.head-title h6 {
  font-weight: bold;
  color: white;
  text-shadow: black 3px 3px 3px;
  margin: 0 10px 0 0;
  padding: 10px;
  text-decoration: underline;
}
.head-title div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.head-title section {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
}
.head-title section a {
  padding: 0;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}
.head-title .logout:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.btn {
  border-radius: unset;
  border: unset;
  border-right: solid #abdcab 4px;
  border-left: solid #abdcab 4px;
  background-color: rgba(0, 0, 0, 0.06);
  transition-delay: 50ms;
  transition-duration: 300ms;
  transition-property: transform, border-right, border-left;
  transition-timing-function: ease-in;
  margin: 10px;
}
.btn:hover {
  transform: scale(1.05);
  border: unset;
  border-right: solid #ce6f6f 4px;
  border-left: solid #ce6f6f 4px;
}

@media all and (max-width: 650px) {
  nav ul {
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  nav ul {
    display: none;
    height: unset;
    flex-direction: column;
    z-index: 1;
  }
  nav ul li {
    z-index: 1;
    width: 130px;
    margin-right: 10px;
    text-align: center;
  }
  nav ul li a {
    z-index: 1;
    padding: 0;
    width: 130px;
  }
  nav .menu-btn {
    z-index: 1;
    text-align: center;
    padding: 0;
    display: block;
    width: 70px;
    height: 40px;
    position: relative;
    left: calc(100% - 80px);
  }
  nav .head-title {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 230px;
    justify-content: space-between;
  }
  nav .head-title h1 {
    padding-top: 10px;
    padding-left: 10px;
  }
  nav .head-title h3 {
    display: none;
  }
  nav .head-title h4 {
    padding: 0;
    display: block;
    text-align: center;
    color: #d9d9d9;
    text-shadow: 2px 2px 2px #000;
    font-style: italic;
    margin-bottom: 20px;
  }

  .logo-top {
    position: unset;
    width: 50%;
  }

  .underline {
    font-size: 1.5em;
  }
}
@media all and (max-width: 385px) {
  .btn {
    padding: 0.4rem 1.2rem;
    font-size: 0.7rem;
    line-height: 1.05rem;
  }

  .underline {
    font-size: 1.3em;
  }
}
/* Pages */
#accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#accueil > p, #accueil h5 {
  max-width: 70%;
  text-transform: unset;
  letter-spacing: unset;
  text-align: center;
  font-size: 0.78rem;
}
#accueil .content-home {
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#accueil .content-home > div, #accueil .content-home aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#accueil .content-home .carou-accueil {
  margin: auto;
}
#accueil .content-home .carou-accueil figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#accueil .content-home .carou-accueil figure img {
  border: solid black 1px;
  border-radius: 5%;
  height: 100%;
  width: auto;
  max-height: 300px;
}
#accueil .content-home .carou-accueil figure figcaption {
  margin-top: 20px;
  text-align: center;
}
#accueil .content-home > .news {
  width: 35%;
}

.hours {
  margin-bottom: 30px;
}

.news {
  overflow: hidden;
}
.news figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.news h6 {
  text-align: center;
}
.news img {
  max-width: 350px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5%;
  margin: 10px 0;
  margin-bottom: 25px;
}

.hour-table {
  margin-top: 20px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.hour-table tr {
  min-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hour-table thead tr {
  margin-bottom: 10px;
}
.hour-table thead th {
  width: 32%;
}
.hour-table thead th:nth-child(1) {
  width: 36%;
}
.hour-table tbody th {
  width: 33%;
}

.top-btn {
  background-color: #414040;
  color: white;
  padding: 20px;
  margin: 0;
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 100;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}
.top-btn span {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-bottom: 20px solid white;
}

@media all and (max-width: 850px) {
  #accueil > p, #accueil h5 {
    max-width: 70%;
    text-transform: unset;
    letter-spacing: unset;
    text-align: center;
    font-size: 0.78rem;
  }
  #accueil .content-home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #accueil .content-home > div {
    width: 80%;
  }
  #accueil .content-home > .news {
    margin-top: 30px;
    width: 80%;
  }
}
@media all and (max-width: 630px) {
  .hour-table {
    width: 90%;
  }
}
@media all and (max-width: 470px) {
  #accueil > p, #accueil h5 {
    max-width: 70%;
    text-transform: unset;
    letter-spacing: unset;
    text-align: center;
    font-size: 0.78rem;
  }
  #accueil .content-home > div {
    width: 100%;
  }
  #accueil .content-home .hours {
    display: none;
  }

  .hour-table {
    width: 99%;
  }
}
@media all and (min-width: 1400px) {
  #accueil > p, #accueil h5 {
    max-width: 70%;
    text-transform: unset;
    letter-spacing: unset;
    text-align: center;
    font-size: 0.78rem;
  }
  #accueil .content-home > div {
    width: 50%;
  }
  #accueil .content-home > .news {
    width: 50%;
  }
}
.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.price-container > .price-text-center {
  width: 60%;
  order: 300;
}
.price-container > .price-text-center > p {
  margin-top: 40px;
  text-align: center;
}
.price-container .price-text-right {
  max-width: 25%;
  max-height: 200px;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 3px gray;
  border-radius: 20px;
  box-shadow: 3px 3px 15px #307230;
}
.price-container .price-text-right > p {
  text-align: justify;
}

.price-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.price-table {
  width: 65%;
  min-width: 500px;
  margin-top: 30px;
  margin-left: 30px;
}
.price-table thead {
  background-color: #99d599;
  font-weight: bold;
  text-align: center;
}
.price-table thead tr {
  border: solid 1px #8c8c8c;
}
.price-table thead tr th {
  font-size: 16px;
}
.price-table thead tr th:nth-child(1) {
  font-style: italic;
}
.price-table tbody {
  width: 100%;
}
.price-table tbody tr {
  height: 30px;
  border: solid 1px #b3b3b3;
  border-top: unset;
  border-right: unset;
}
.price-table tbody tr td {
  text-align: center;
  font-weight: bold;
  border: solid 1px #b3b3b3;
  border-left: unset;
}
.price-table tbody tr:nth-child(2n) {
  background-color: #d9d9d9;
}
.price-table tbody .cat {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.price-table tbody .cat:nth-child(1) {
  border-left: 1px solid #000;
}
.price-table tbody .cat:nth-child(2) {
  border-right: 1px solid #000;
}

.btn-point {
  color: white;
  background-color: red;
  padding: 5px;
}

.legend-price {
  text-align: right;
  width: 100%;
  font-size: 10px;
}

@media screen and (max-width: 1200px) {
  .price-container .price-text-right {
    min-width: 240px;
    max-height: unset;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .price-container .price-row {
    width: 100%;
  }
  .price-container .price-row .price-table {
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin: 0 20px;
    padding: 0;
  }
  .price-container .price-row .price-text-right {
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin: 30px 5%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 570px) {
  .price-table thead tr th {
    border: 1px solid black;
    font-size: 14px;
  }
}
.rdv-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%-30px);
  margin: 15px;
}
.rdv-content > div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.rdv-content > h6, .rdv-content p {
  text-align: center;
}
.rdv-content .rdv-salon {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 290px;
}
.rdv-content .rdv-salon h4 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
.rdv-content .rdv-salon a {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}
.rdv-content .rdv-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.rdv-content .rdv-email p {
  width: 100%;
  text-align: center;
}
.rdv-content .rdv-email p:nth-child(1) {
  margin: 70px 0;
  font-size: 20px;
  font-weight: bold;
}

@media all and (max-width: 800px) {
  .rdv-content > h6, .rdv-content p {
    margin: 10px 100px;
  }
  .rdv-content > div {
    width: 100%;
    flex-direction: column;
  }
  .rdv-content .rdv-salon {
    border-top: 2px solid #000;
  }
}
@media all and (max-width: 550px) {
  .rdv-content > h6, .rdv-content p {
    margin: 10px 30px;
  }
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-container form {
  min-width: 480px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: solid 2px #a6a6a6;
  box-shadow: 2px 2px 10px #595959;
  border-radius: 20px;
}
.contact-container form > div {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-container form > div > ul {
  display: none;
}
.contact-container form label {
  width: 25%;
}
.contact-container form input, .contact-container form textarea {
  width: 70%;
  border: grey solid 2px;
  border-radius: 5px;
  min-height: 32px;
}
.contact-container form textarea {
  min-height: 80px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px !important;
}
.contact-container form .btn {
  width: auto;
  align-self: center;
}
.contact-container .contact-field {
  min-width: 300px;
  width: 30%;
  margin: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.contact-container .contact-field img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  border-radius: 5%;
  box-shadow: #404040 3px 3px 3px;
  margin: 20px;
}

@media all and (max-width: 1000px) {
  .contact-container {
    flex-wrap: wrap;
  }
  .contact-container form {
    margin-bottom: 35px;
  }
  .contact-container .contact-field {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
  .contact-container .contact-field img {
    max-width: 250px;
  }
  .contact-container .contact-field section {
    width: 45%;
  }
  .contact-container .contact-field section:nth-child(4) {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .contact-container form {
    min-width: unset;
    width: unset;
  }
}
@media all and (max-width: 370px) {
  .contact-container form {
    min-width: unset;
    width: unset;
  }
  .contact-container form > div {
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-container form > div > label, .contact-container form > div input {
    width: 100%;
  }
  .contact-container form textarea {
    margin: unset !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
.postulation-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postulation-page > div {
  margin: 30px 50px;
}
.postulation-page > div p {
  text-align: center;
}
.postulation-page form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.postulation-page form > div {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.postulation-page form > div > ul {
  display: none;
}
.postulation-page form label {
  width: 25%;
}
.postulation-page form input, .postulation-page form textarea {
  width: 70%;
  border: grey solid 2px;
  border-radius: 5px;
  height: 32px;
}
.postulation-page form textarea {
  min-height: 80px;
}
.postulation-page form .btn {
  width: 40%;
  align-self: center;
}

.admin-postul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.admin-postul-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  padding: 15px;
  margin: 30px;
  border: solid 3px #abdcab;
}
.admin-postul-content h4 {
  min-width: 200px;
}
.admin-postul-content .btn-delete {
  width: 100%;
  align-self: flex-end;
}
.admin-postul-content .btn-delete .btn {
  background-color: red;
  color: white;
  font-size: 20px;
  position: relative;
  left: 75%;
  padding: 5px;
}

@media all and (max-width: 800px) {
  .postulation-page form {
    width: 75%;
  }
}
#admin {
  margin-top: 50px;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#admin input {
  min-width: 190px;
  width: 20%;
  max-width: 400px;
}
#admin .btn {
  margin-top: 50px;
  border-color: black;
}
#admin .btn:hover {
  border-right-color: #abdcab;
  border-left-color: #abdcab;
}

.manage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.manage div, .manage section {
  display: flex;
  align-items: center;
  width: 100%;
}
.manage__option {
  flex-direction: column-reverse;
  justify-content: center;
  max-width: 33%;
}
.manage__option input {
  height: 40px;
  min-width: 220px;
  margin: 20px 40px;
}
.manage__option a {
  width: 85%;
}
.manage__list {
  flex-direction: column;
  border-right: black solid 1px;
}
.manage__list h6 {
  margin-top: 10px;
}
.manage__list li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}
.manage__add {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}
.manage__add form {
  min-width: 40%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 50px;
}
.manage__add form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manage__add form input {
  min-width: 300px;
  min-height: 35px;
  border: grey solid 2px;
  border-radius: 2%;
}
.manage__add form .vich-image div {
  display: none;
}
.manage__add form .vich-image a {
  display: none;
}
.manage__add .price ul {
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  color: red;
}
.manage__add__info {
  min-width: 40%;
  max-width: 60%;
  padding-top: 50px;
}
.manage__add__info ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  width: 100%;
  padding: 10px;
}
.manage__add__info ul li {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 40px;
}
.manage__add__info ul li span {
  font-weight: bold;
  color: black;
  font-style: italic;
}
.manage__add__info ul li:nth-child(5) span {
  width: 100%;
}
.manage__add__info ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  margin: auto;
  max-height: 450px;
  max-width: 100%;
}
.manage__add__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.manage__add__button a {
  text-align: center;
}
.manage__add .form-group textarea {
  min-width: 300px;
  width: 25% !important;
  border: solid grey 3px;
  min-height: 120px;
}

@media all and (max-width: 700px) {
  .manage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .manage__add {
    flex-wrap: wrap;
  }
  .manage__add form {
    max-width: unset;
    min-width: unset;
    width: 100%;
    order: 2;
  }
  .manage__add__info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
  .manage__add__info ul {
    padding: 0;
  }
  .manage__add__button a {
    align-self: center;
  }
  .manage__add .form-group textarea {
    width: 80% !important;
  }
  .manage .manage__option {
    width: 60%;
    max-width: unset;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .manage .manage__option input, .manage .manage__option h3 {
    align-self: center;
  }
  .manage__list {
    border-right: unset;
  }
  .manage__list ul {
    width: 90%;
    font-weight: bold;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .manage__list ul li {
    border-bottom: solid 1px gray;
    font-size: 16px;
    text-align: center;
  }
}
@media all and (max-width: 340px) {
  .manage .manage__option {
    width: 95%;
    max-width: unset;
  }
}/*# sourceMappingURL=main.css.map */