{% extends 'base.html.twig' %}

{% block body %}

<h4 class="text-center">Accès Réservé à l'administration</h4>
<form id="admin" method="POST">
    <label>Utilisateur : </label><input type="text" name="user"></input><br/>
    <label>Mot de Passe : </label><input type="password" name="password"></input><br/>
    <button type="submit" class="btn"> Se connecter </button>
</form>
<a href="{{ path('dog_create') }}" class="btn">Ajouter un chien</a>

<section>
    <h2>Fichier Client :</h2>
    <ul>
    {% for dog in dogs %}

    <li>Nom du chien : 
        <a href="/admin/{{ dog.id }}" >{{ dog.name }} </a> appartenant à {{ dog.owner }}</li>

    {% endfor %}

    </ul>
</section>

{% endblock body %}