{% extends 'base.html.twig' %}

{% block body %}

<section id="accueil">
    <h1 class="underline">{{ title }}</h1>

    
    <p>Le salon de toilettage Playdog's, votre spécialiste bien-être canin et félin, installé à Objat et Ussac vous attend pour</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam consequuntur laboriosam rerum, officia doloremque ut nemo itaque ipsa delectus ad corporis! 
        Aperiam quia beatae odio ipsam nulla corporis ratione deleniti quod. Tenetur repellat voluptates similique facere esse, sequi delectus?</p>
</section>

{% endblock body %}