{% extends 'base.html.twig' %}

{% block body %}

<section id="accueil">

    
    <p>Le salon de toilettage Playdog's, votre toilettage spécialiste bien-être canin et félin, installé à Objat et Ussac vous attend pour le bien de votre loulou.</p>

    <div class="content-home">
        <div>
            <h6>Nos horaires : </h6>
                <br>
            <p class="text-center mr-4 ml-4">Ces horaires sont valables pour le salon de toilettage d'Objat à titre indicatif, si nécessaire nous priviligierons l'ouverture sur rendez-vous. 
                <br/> N'hésitez pas à téléphoner pour en savoir plus sur nos horaires d'ouverture</p>
            <table class="hour-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Matin</th>
                        <th>Après-Midi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Lundi</th>
                        <th>De 9h à 12h</th>
                        <th>De 14h à 18h</th>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                        <th>De 9h à 12h</th>
                        <th>De 13h à 17h</th>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <th>De 9h à 12h</th>
                        <th>De 13h à 17h</th>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                        <th>De 9h à 12h</th>
                        <th>De 13h à 17h</th>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                        <th>De 9h à 12h</th>
                        <th>De 14h à 18h</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="news">
            <h6>Nos News</h6>
            <figure>
                <img src="{{ asset('img/logo-fond-noir.jpg') }}" alt="news" />
                <figcaption>
                    <h6>Nouveau</h6>
                    <p>Pour le bien-être de vous loulou, et pour palier à ces temps compliqués, nous vous proposons de venir chercher votre chien ou votre chat si vous ne pouvez pas nous l'amener. Les gestes barrières devront être appliqués </p>
                </figcaption>
            </figure>
        </div>
        
    </div>

</section>

{% endblock body %}