{% extends 'base.html.twig' %}

{% block body %}

<section class="rdv-content">
    <h6>Pour obtenir un rendez-vous rapidement, merci de nous appeler directement dans le salon que vous désirez.</h6>
    <p>Vous pouvez également prendre rendez-vous en nous contactant par email si vous n'arrivez pas à nous joindre.</p>
    <div>
        <div class="rdv-salon">
            <h4>Objat</h4>
            <a href="tel:+33555841681">05 55 84 16 81</a>
        </div>

        <div class="rdv-salon">
            <h4>Ussac</h4>
            <a href="tel:+335">05 55 55 55 55</a>
        </div>
    </div> 
    <div class="rdv-email">
        <p>Notre Email : <a href="mailto:salonplaydogs@gmail.com">salonplaydogs@gmail.com</a>  
        </p>
        <p>Notez cependant que le délai de traitement de votre rendez-vous peut prendre un peu plus de temps par email.</p>
    </div>
</section>

{% endblock body %}

