{% extends 'base.html.twig' %}

{% block body %}




<div>
    <p>Choisissez votre salon : </p>
    <a href="#objat" >Objat</a>
    <a href="#ussac" >Ussac</a>
</div>
<div id="objat"></div>

<div id="ussac"></div>

{% endblock body %}

