{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="manage">
            <div class="manage__option">
                <a href="{{ path('admin_price')}}" class="btn" > Gérer les prix </a>
                <a href="{{ path('admin_candidate')}}" class="btn">Voir les candidatures</a>
                <a href="{{ path('admin_inscription')}}" class="btn">Gérer les membres</a>
                <br/>
                <a href="{{ path('admin_adduser')}}" class="btn">Inscription d'un utilisateur</a>
            </div>
        </div>

    {% else %}
    <div>
        <h3>Vous devez être administrateur pour accéder à cette page !! </h3>
    </div>

    {% endif %}
{% endblock %}