{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}

        <p>Affichage des candidatures</p>

        <div class="manage">
            <div class="manage__option">
                <a href="{{ path('admin_price')}}" class="btn" > Gérer les prix </a>

            </div>

        </div>

    {% else %}
    <div>
        <h3>Vous devez être administrateur pour accéder à cette page !! </h3>
    </div>

    {% endif %}
{% endblock %}