{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}

    <a href="{{ path('dog_create') }}" class="btn">Ajouter un chien</a>
    <input placeholder="Rechercher un chien ou un client"></input>
    <section class="d-flex flex-column align-items-center">
        <h2>Fichier Client :</h2>
        <ul>
            {% for dog in dogs %}
            <li>Nom du chien : 
                <a href="/manage/{{ dog.id }}" >{{ dog.name }} </a> appartenant à M. {{ dog.owner }}</li>
            {% endfor %}
        </ul>
    </section>


{% else %}
    <section>
        <h3>Vous devez être connecté pour accéder à cette page !! </h3>
    </section>

{% endif %}



{% endblock %}