{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
<section class="d-flex flex-column align-items-center">

<h4>Résultat de : {{ dog.id }}</h4>
    <div>
        <a href="{{ path('dog_create') }}" class="btn">Ajouter un chien</a>
        <a href="{{ path('manage') }}" class="btn">Revenir à la liste</a>
    </div>
</section>
    {% else %}
<div>
    <h3>Vous devez être connecté pour accéder à cette page !! </h3>
</div>

    {% endif %}

{% endblock body %}